









/* Big tablets to 1200px */
@media only screen and (max-width : 1200px){
            .hero-text-box {
            width: 100%;
                padding  : 0 2%;
        }
    .row{
        padding 0 2%;
    }
}

/* small tabs to big tabs */

@media only screen and (max-width : 1023px){
    body{ font-size: 18px;}
    section {padding : 60px 0;}
    .long copy {
        width: 80%;
        margin-left: 10%;
    }
    
}

/* Small mobiles to small tabs*/

@media only screen and (max-width : 767px){
    
}

/* Small phones */

@media only screen and (max-width : 480px){
    
}

